pipeline/getMetadata.json
{
	"name": "getMetadata",
	"properties": {
		"activities": [
			{
				"name": "GetFileStructure",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "employees",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"size",
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetFileStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "first_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "birthdate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "birthdate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "gender",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "gender",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "race",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "race",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "department",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "department",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "jobtitle",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "jobtitle",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "location",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "hire_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "hire_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "termdate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "termdate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "location_city",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_city",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "location_state",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "location_state",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "employees",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "employeeOut",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get write metadata",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "get-metadata",
					"method": "POST",
					"body": {
						"value": "@{concat('{\"file_name\":', string(activity('GetFileStructure').output.itemName), ',\"file_type\":', string(activity('GetFileStructure').output.itemType), ',\"last_modified\":', string(activity('GetFileStructure').output.lastModified), ',\"file_size\":', string(activity('GetFileStructure').output.size), ',\"file_structure\":', string(activity('GetFileStructure').output.structure), ',}')\n}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "metaDataFunc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}